body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #74b9ff, #a29bfe);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    padding: 40px;
    text-align: center;
    width: 400px;
}
.container h5 {margin-top: -15px;}

h1 {
    color: #2d3436;
    margin-bottom: 20px;
    font-size: 24px;
}

.upload-box {
    margin-top: 10px;
}

input[type="file"] {
    margin: 15px 0;
    border: 1px solid #dcdde1;
    border-radius: 6px;
    padding: 8px;
}

button {
    background: #0984e3;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

button:hover {
    background: #74b9ff;
}

.image-section {
    margin-top: 20px;
}

.image-section img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #dfe6e9;
}

.result {
    margin-top: 20px;
    background: #00cec9;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

footer {
    margin-top: 25px;
    font-size: 13px;
    color: #636e72;
}
/* For result html */

.result {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    padding: 40px;
    text-align: center;
    width: 400px;
    color: #2d3436
}
